#container
{
  height: 400px;
  position: relative;
  width: 400px;
}

#ameise {
	position: fixed;

	margin-top: -9em;  
margin-left: 16.5em;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	cursor: pointer;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	z-index: 10000;
	
}

#fischis {
	position: fixed;
	
/* 	margin-top: -33em; normal */
/* 	margin-left: -34em; */
	margin-top: -24em;
	margin-left: -11em;
	width: 370px;
	height: 370px;
	border-radius: 50%;
	cursor: pointer;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
}

#vogel2 {
	position: fixed;
	
/* 	margin-top: -33em; normal */
/* 	margin-left: -34em; */
/* 	margin-top: -30em; */
	margin-left: 18em;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	cursor: pointer;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	z-index: 10000;
}


canvas {
	width: 750;
	height: 530;
}



/*Tablet Portrait*/
@media screen and (max-width: 768px) {

-webkit-column-count:3;
	-moz-column-count:3;
	

html {}

#fischis {
	margin-top: -28em;
	margin-left: -27em;
/* 	margin-top: -43em;vergrößert */
/* 	margin-left: -35em;vergrößert */
	width:  300px;
	height: 300px;
/* 	border-radius: 50%; */
/* 	cursor: pointer; */
	background-color: transparent;
/* 	background-repeat: no-repeat; */
/* 	border: none; */
/* 	cursor: pointer; */
/* 	overflow: hidden; */
}

canvas {
	border: 2px solid red;
	width: 550;
	height: 330;
	
}

#ameise {
margin-top: -8em;
margin-left: 13em;
/* 	margin-top: -9.5em; verkleinert */
/* 	margin-left: -39em; */
/* 	margin-top: -13em;  vergrö0erter canvas */
/* 	margin-left: 19em;vergrößert */
	width: 50px;
	height: 50px;
/* 	border-radius: 50%; */
/* 	cursor: pointer; */
	background-color:transparent;
/* 	background-repeat: no-repeat; */
/* 	border: none; */
/* 	cursor: pointer; */
/* 	overflow: hidden; */
}

}


/*Smartphone*/
@media screen and (max-width: 570px) {

-webkit-column-count:1;
-moz-column-count:1;

html {}

#fischis {
/* 	margin-top: -33em; normal */
/* 	margin-left: -34em; */
/* 	margin-top: -43em;vergrößert */
/* 	margin-left: -35em;vergrößert */
/* 	width:  400px; */
/* 	height: 400px; */
/* 	border-radius: 50%; */
/* 	cursor: pointer; */
	background-color: transparent;
/* 	background-repeat: no-repeat; */
/* 	border: none; */
/* 	cursor: pointer; */
/* 	overflow: hidden; */
}

canvas {
	border: 2px solid yellow;
	width: 450;
	height: 320;
	
}

#ameise {
	margin-top: -8em;
	margin-left: 10.5em;
/* /* 	margin-top: -8.5em; normal */
/* 	margin-left: -32.7em; */
/* 	margin-top: -9.5em; verkleinert */
/* 	margin-left: -39em; */
/* 	margin-top: -13em;  vergrö0erter canvas */
/* 	margin-left: 19em;vergrößert */
/* 	width: 70px; */
/* 	height: 70px; */
/* 	border-radius: 50%; */
/* 	cursor: pointer; */
	background-color: transparent;
/* 	background-repeat: no-repeat; */
/* 	border: none; */
/* 	cursor: pointer; */
/* 	overflow: hidden; */
}
}
